# The path to the directory containing the single-speaker data set
single_speaker_data_path = '/path/to/single/dataset'

# The path to the directory containing the multi-speaker data set
multi_speaker_data_path = '/path/to/multi/dataset'
